<template name='login'>
    <div class="container-fluid h100 backgroundImage">
        <div class="row h100">
            <div class="col-md-6 col-md-offset-3 h100">
                <div class="row h25"></div>
                <div class="row h25">
                    <p class="text-center" style="margin: 10px 0"><img src="/images/logo.png"/></p>

                    <p class="text-center" style="margin: 10px 0"><img src="/images/title.png"/></p>
                </div>
                <div class="row h30">
                    <div class="bj_into3">
                        <ul>
                            <li>
                                <input ng-model="account.userName" type="text" required="true" ng-enter="login()"
                                       class="Username" placeholder="用户名">
                            </li>
                            <li>
                                <input ng-model="account.password" type="password" required="true" ng-enter="login()"
                                       class="password" placeholder="密码">
                        <span>
                            <a class="login" href="/"
                               style="text-decoration: none;  font-size: 16px;  float: left;   font-family: Arial, 微软雅黑;">
                                登录
                            </a>
                        </span>
                            </li>
                            <li id="mima" class="mima">
                                <p class="{{#if remember}}switchY{{else}}switchN{{/if}}">
                                    记住密码
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>